<main class="home article-list">
    <section class="grid" id="home-listing">
        <div class="article low-tech-solutions">
            <a href="#">
                <div class="featured-img" style="background-image: url('../assets/images/house_dithered.jpg');"></div>
                <h3 class="entry-title">Home-Building</h3>
                <p class="index-summary"> I am building a small house on 12 acres of raw land in rural southern New Hamsphire.</p>
                <time class="published">June 2024</time>
            </a>
        </div>
        <div class="article high-tech-problems">
            <a href="#">
                <div class="featured-img" style="background-image: url('../assets/images/download.png');"></div>
                <h3 class="entry-title">Pretty Agroforestree Database</h3>
                <p class="index-summary">An easy-to-navigate, lighweight, low-tech version of the World Agroforestree Database. Pulls together all information about species
                    in one place.</p>
                <time class="published">June 2024</time>
            </a>
        </div>
        <div class="article low-tech-solutions">
            <a href="https://solar.lowtechmagazine.com/2023/12/bike-generator-at-paris-exhibition/">
                <div class="featured-img" style="background-image: url('https://solar.lowtechmagazine.com/2023/12/bike-generator-at-paris-exhibition/images/dithers/bike-generator-pavillon-arsenal_dithered.png');"></div>
                <h3 class="entry-title">Test our Bike Generators in Paris, Rotterdam, and Barcelona</h3>
                <p class="index-summary">Low-tech Magazine built a bicycle generator for an exhibition on energy at the Pavillon d’Arsenal in Paris, now open to the public. Our two other bikes can be seen and experimented with in Rotterdam and Barcelona.</p>
                <time class="published">June 2024</time>
            </a>
        </div>
    </section>
</main>
